.env
node_modules/
tachio/summaries/*.txt
tachio/cache/*
tachio/capabilities/cache/*
*.log
tachio/capabilities/cache/*.json
tachio/cache/*.json

.idea
.DS_Store
tachio-b165984603e7.json
google_service_account.json
tachio/google_service_account_private_key.json
*.env
