.env
node_modules/
summaries/*.txt
/cache/*
/capabilities/cache/*
*.log
capabilities/cache/*.json
/cache/*.json
.idea
.DS_Store
tachio-b165984603e7.json
db/migrations/20240401130926_remote_schema.sql
